<a href="https://colab.research.google.com/github/Whereamiactually/lyceumcompling10/blob/main/Acquaintance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Знакомство с Python'ом**

Integer - целое число.

Функция `print()` выводит то, к чему применяется.

Функция `type()` выдаёт тип того, к чему применяется.

In [20]:
a = 345 + 57
print('a =', a)
b = 44 * 4
print('b =', b)
print(type(a))

a = 402
b = 176
<class 'int'>

Переменные типа `a` и `b` можно называть как угодно латинскими буками (за исключением сочетаний букв, которые являются служебными, типа `if`, `False` и `while`), но лучше всего называть так, чтобы было понятно, что скрывается за этой переменной.

Float - дробь, пишется через точку! (После `#` можно писать комментарий, который никак не влияет на код.)

In [31]:
a = 44 / 5 # обычное деление (в результате всегда получается float)
b = 44 // 5 # целая часть от деления
c = 44 % 5 # остаток от деления
d = 4 ** 3 # возведение в степень
print(type(a))

<class 'float'>

Значения переменных не выводятся, потому что мы лишь присвоили их, но не вывели на экран.

In [35]:
print('a =', a)
print('b =', b)
print('c =', c)
print('d =', d)
print('b / c =', b / c)

a = 8.8
b = 8
c = 4
d = 64
b // c = 2.0

String - строка, пишется либо в одинарных, либо в двойных кавычках.

In [21]:
print('Linguistics is cool!')
print("Computers are also cool!")
print(type('Хочу кабачок.'))

Linguistics is cool!
Computers are also cool!
<class 'str'>

Над строками также можно выполнять операции сложения и умножения!

Но нельзя вычетания и деления.

In [17]:
print('computational ' + 'linguistics')
print('земле' + 'трясение')
print('пра' * 6 + 'бабушка')

computational linguistics
землетрясение
прапрапрапрапрапрабабушка

**Задание**: используя операции сложения и умножения, а также функцию `print()`, напишите код, который выводит "great-great-grandmother".

In [ ]:
# место для вашего кода

Складывать друг с другом строки с числами и числа типа integer или float - не одно и то же!

In [22]:
print(55 + 7)
print('55' + '7')

62
557

Есть функции, которые (если у них получится), конвертируют один тип в другой.

In [26]:
print(int('778')) # из строки в integer
print(float('5.65')) # из строки в float
print(str(55)) # из integer или float в строку

778
5.65
55

Но нельзя, например, конвертировать из string в integer, если число в строке не целое.

Что выдадут две следующие строчки кода? Как так получилось?

In [34]:
print(str(float('7.8') + 4) + '77')
print(int('80' + '7') + 2)

11.877
809

Бывают ещё другие типы данных. Например, логический.

In [39]:
print(type(True)) # логический тип, имеет только два значения True и False
print(True and False)
print(True or False)
print(4 == 4 * 3) # равенство

<class 'bool'>
False
True
False

Ещё можно сравнивать так.

In [42]:
print(2 != 2) # неравенство
print(4 > 5) # больше
print(2 < 7) # меньше
print(33 >= 33) # больше или равно
print(33 <= 33) # меньше или равно

False
False
True
True
True

А ещё бывают списки (lists), кортежи (tuples) и словари (dictionaries).

In [46]:
spisok = ['love', 'крокодил', 8, [5, 8.7], 3.4] # порядок элементов не фиксированный
kortezh_1 = ('love', 'крокодил', 8) # порядок элементов фиксированный
kortezh_2 = ('love', 8, 'крокодил')
slovar_1 = {'house': 'дом', 'mouse': 'мышь', 'fountain': 'фонтан'}
slovar_2 = {'house': '5', 'mouse': 5, 'fountain': 8}
print(kortezh_1 == kortezh_2)
print(type(spisok), type(kortezh_1), type(slovar_1))

False
<class 'list'> <class 'tuple'> <class 'dict'>

### Функции

Теперь немного функций. Функция `input()` просит пользователя ввести текст (string!).

In [49]:
words_of_user = input('Введите ваше любимое слово или число: ')
print(type(words_of_user))

Введите ваше любимое слово или число: 88
<class 'str'>

Напишем небольшой код, который, используя функцию `input()`, запрашивает у пользователя существительное, прилагательное и глагол, а затем выдаёт из них предложение.

In [55]:
verb = input('Введите переходный глагол: ')
noun_1 = input('Введите существительное в им. падеже: ')
adj = input('Введите прилагательное того же рода: ')
noun_2 = input('Введите существительное в вин. падеже: ')
print('Ура! Получилось.')
print(adj.capitalize(), noun_1, verb, noun_2 + '.')

Введите переходный глагол полюбил
Введите существительное медведь
Введите прилагательное красивый
Введите существительное цветочек
Красивый медведь полюбил цветочек.

Ещё есть полезная функция `len()`. Она может измерять длину вообще всего, кроме чисел.

In [60]:
print(len(spisok))
print(len(kortezh_1))
print(len(slovar_2))
print(len('Много букв, но мало смысла.'))
print(len('Много букв но мало смысла'))
print(len('Многобуквномалосмысла'))

5
3
3
27
25
21

### Методы для работы со строками

Методы отличаются от функций тем, что применяются только к одному типу данных.